{{ 'section-collection-lookbook.css' | asset_url | stylesheet_tag }}


{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


{% assign collection = section.settings.collection %}

<div class="section-{{ section.id }}-padding page-width">

  {%- paginate collection.products by section.settings.products_per_page -%}

    {% if collection.products.size == 0 %}
      <div class="collection--empty page-width">
        <h2>{{ 'No products found in this collection.' }}</h2>
      </div>
    {% else %}
      <ul id="product-grid" class="grid product-grid">
        {% for product in collection.products %}
          {% assign product_gallery_id = section.id | append: '-' | append: product.id %}

          <li
            id="product-{{ product_gallery_id }}"
            class="grid--{{ section.settings.columns_mobile }}-col-tablet-down
                   grid--{{ section.settings.columns_desktop }}-col-desktop"
          >

            <ul class="lookbook-product-images grid grid--{{ section.settings.columns_desktop }}">
              {% for media in product.media %}
                <li class="grid__item">
                  {% if media.media_type == 'image' %}
                    <img
                      width="100%"
                      height="auto"
                      src="{{ media.preview_image | image_url: width: 800 }}"
                      alt="{{ media.alt | default: product.title }}"
                      class="lookbook-image"
                    >
                    {% elsif media.media_type == 'video' %}
                      {% assign video_source = media.sources.first.url %}
                      <div class="lookbook-video-wrapper">
                        <video
                          controls
                          preload="metadata"
                          poster="{{ media.preview_image | image_url: 800 }}"
                          class="lookbook-video"
                        >
                          <source src="{{ video_source }}" type="video/mp4">
                          Your browser does not support the video tag.
                        </video>
                      </div>
                      {% endif %}
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>

      {%- if paginate.pages > 1 -%}
        {% render 'pagination', paginate: paginate, anchor: '' %}
      {%- endif -%}
    {% endif %}

  {%- endpaginate -%}
</div>
{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section",
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Selected Collection"
    },
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 36,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    },    
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Product Gallery"
    },
    {
      "type": "range",
      "id": "num_images_per_product",
      "min": 5,
      "max": 50,
      "step": 5,
      "default": 10,
      "label": "Number of Images Visible"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "select",
      "id": "quick_add",
      "default": "none",
      "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_1"
        },
        {
          "value": "standard",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_2"
        },
        {
          "value": "bulk",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_3"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
        }
      ],
      "default": "horizontal",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "header",
      "content": "Gallery settings"
    },
    {
      "type": "select",
      "id": "gallery_layout",
      "label": "Gallery layout",
      "options": [
        { "value": "single", "label": "Single" },
        { "value": "columns", "label": "Columns" },
        { "value": "thumbnail", "label": "Thumbnails" },
        { "value": "thumbnail_slider", "label": "Thumbnail slider" }
      ],
      "default": "single"
    },
    {
      "type": "select",
      "id": "mobile_thumbnails",
      "label": "Mobile thumbnails",
      "options": [
        { "value": "hide", "label": "Hide" },
        { "value": "show", "label": "Show" },
        { "value": "columns", "label": "Columns" }
      ],
      "default": "show"
    },
    {
      "type": "select",
      "id": "media_size",
      "label": "Media size",
      "options": [
        { "value": "small", "label": "Small" },
        { "value": "medium", "label": "Medium" },
        { "value": "large", "label": "Large" }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "media_fit",
      "label": "Media fit",
      "options": [
        { "value": "contain", "label": "Contain" },
        { "value": "cover", "label": "Cover" }
      ],
      "default": "contain"
    },
    {
      "type": "checkbox",
      "id": "constrain_to_viewport",
      "label": "Constrain media to viewport",
      "default": false
    },
    {
      "type": "select",
      "id": "image_zoom",
      "label": "Image zoom",
      "options": [
        { "value": "lightbox", "label": "Lightbox" },
        { "value": "zoom", "label": "Zoom" },
        { "value": "none", "label": "None" }
      ],
      "default": "lightbox"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": true,
      "label": "Loop videos"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
