{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}

{%-  liquid 
  assign collection = section.settings.collection
  assign placeholder = false

  if collection == blank
    assign placeholder = true
  endif
-%}

<!-- Template -->

{% if placeholder %}

  placeholder

  {% else %}


    {%- for product in collection.products limit: section.settings.num_products -%}

        <p>Product: {{ product.title }}</p>

        <div
          id="Slide-{{ section.id }}-{{ forloop.index }}"
          class="grid__item slider__slide scroll-trigger animate--slide-in"
          data-cascade
          style="--animation-order: {{ forloop.index }}; width: 100%;"
        >

        {% render 'product-media-gallery',
            product: product,
            variant_images: product.images,
            limit: section.settings.num_images_per_product
        %}

      </div>

    {%- endfor -%}

{% endif %}

{% schema %}
{
  "name": "Collection Lookbook",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Selected Collection"
    },
    {
      "type": "range",
      "id":"num_products",
      "default": 10,
      "min": 5,
      "max": 50,
      "step": 5,
      "label": "Number of Visible Products"
    },
    {
      "type": "range",
      "id": "num_images_per_product",
      "default": 3,
      "min": 1,
      "max": 10,
      "step": 1,
      "label": "Number of Images per Product"
    },
    {
      "type": "header",
      "content": "Product Settings"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured-collection.settings.image_ratio.label"
    }
  ],
  "presets": [
    {
      "name": "Collection Lookbook"
    }
  ]
}
{% endschema %}